<ul class="navbar-nav ms-auto">
    <li class="nav-item"><a class="nav-link" id="index_html" href="/" style="color:rgba(255,255,255,0.55);">Home</a></li>
    <li class="nav-item"><a class="nav-link" id="littlefs_html" href="/littlefs.html" style="color:rgba(255,255,255,0.55);">LittleFS</a></li>
    <li class="nav-item"><a class="nav-link" id="microsd_html" href="/microsd.html" style="color:rgba(255,255,255,0.55);">microSD</a></li>
    <li class="nav-item"><a class="nav-link" id="telegram_html" href="/telegram.html" style="color:rgba(255,255,255,0.55);">Telegram</a></li>
    <li class="nav-item"><a class="nav-link" id="options_html" href="/options.html" style="color:rgba(255,255,255,0.55);">Options</a></li>
    <li class="nav-item"><a class="nav-link" id="logs_html" href="/logs.html" style="color:rgba(255,255,255,0.55);">Log</a></li>
    <li class="nav-item"><a class="nav-link" id="about" style="color: rgba(255,255,255,0.55);cursor:pointer;">About</a></li>
</ul>